@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDefundo;
    transition: backgroud-color .5s ease;
    

    &__container {
        padding: 3px 50px;
        display: flex;
        justify-content: space-between;
        background-color: variaveis.$corDefundo;
    }

    &__logo {
        width: 70px;
        padding-top: 10px;
    }

    &__links {
        display: flex;
        align-items: center;

        &__item {
            padding: 5px;
            margin-left: 20px;
            font-size: 20px;
        }
    }
}

